@import "../css/variaveis";
@import "../css/secundario";
@import "../css/dispositivos";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-black;
  font-family: $font-principal;
  color: $text-color-white;
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url(/img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;

  .container__caixa {
    margin: 0 6em;
  }

  .container__titulo {
    font-size: 28px;
    color: $text-color-white;
    font-weight: 700;
  }

  .container__imagem {
    margin: 1em 0 2em 0;
  }

  .botao_secundario {
    background-color: transparent;
    border: 2px solid $text-color-white;
  }

  .container__aviso {
    color: $text-color-white;
    font-size: 12px;
    color: $text-color-cinza;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.container__botao {
  background-color: $button-color;
  border-radius: 5px;
  padding: 1em;
  color: $text-color-white;
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}
